{% extends "::base.html.twig" %}

{% block title -%}

    {{ post.title|title }} by {{ post.author|title }}

{%- endblock %}

{% block body %}

    <h1>{{ post.title|title }}</h1>

    {% 
        include "SymfonyDayBlogBundle:Default:details.html.twig" with {
            'post': post
        } only
    %}

    <h2>Comments</h2>

    {% for comment in post.comments %}

        <h4>{{ comment.author }}</h4>
        <p>{{ comment.message }}</p>

    {% else %}

        <p>No comments yet!</p>

    {% endfor %}

    <h2>Add a new comment</h2>

    <form novalidate action="{{ path('post', { 'id': post.id } ) }}" method="post">

        {{ form_widget(form) }}

        <p>
            <button type="submit">Add your comment</button>
        </p>

    </form>

{% endblock %}