{% extends "::base.html.twig" %}

{% block title -%}

    {{ post.title|title }} by {{ post.author|title }}

{%- endblock %}

{% block body %}

    <h1>{{ post.title|title }}</h1>

    <p>Written by {{ post.author|title }}</p>

    <p>
        {{ post.content }}
    </p>

{% endblock %}